---
extends: default

ignore: |
  external/
  docs/
  .github/

rules:
  brackets:
    forbid: false
    min-spaces-inside: 0
    max-spaces-inside: 0
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 0
  braces:
    forbid: false
    min-spaces-inside: 0
    max-spaces-inside: 1
    min-spaces-inside-empty: 0
    max-spaces-inside-empty: 1
  comments:
    level: error
    require-starting-space: true
  comments-indentation: disable
  ## Disabled because it doesn't work with yq: https://github.com/mikefarah/yq/issues/351
  # document-start:
  #   level: error
  document-start: disable
  indentation:
    level: error
    spaces: 2
    indent-sequences: true
  line-length: disable
  truthy:
    allowed-values: ['true', 'false', 'on']
    check-keys: false
  quoted-strings: disable
